body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #151515;
}

.none {
    display: none;
}

.main-container {
    margin: 0;
    outline: 2px solid rgb(201, 85, 40);
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 32px rgba(0, 83, 116, 0.5);
}

.secondary-container {
    margin: 0;
    outline: 2px solid rgb(13, 172, 220);
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 32px rgba(0, 83, 116, 0.5);
}

.item-container {
    margin: 0;
    outline: 1px solid gray;
    width: 120px;
    height: 120px;
    background-color: #0a0c1a;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 0px 5px #000;
    user-select: none;
    transition: 200ms;
}

.has-item {
    background-color: white;
}

.has-item:hover {
    cursor: pointer;
    background-size: 128px;
    box-shadow: inset 0 0 5px #0051ff, inset 0 0 25px #006eff;
}

.open-main { /*button*/
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: none;
    transition: 150ms;
    background-color: #62e96d;
}

.open-main:hover { /*button*/
    background-color: #85ee8e;
    box-shadow: 0 0 15px rgba(37, 216, 96, 0.5);
    transform: scale(103%);
    cursor: pointer;
}

.open-main:active { /*button*/
    transform: scale(97%);
}

.randomize { /*button*/
    position: absolute;
    top: 10rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: none;
    transition: 150ms;
    background-color: #62b8e9;
}

.randomize:hover { /*button*/
    background-color: #62b8e9;
    box-shadow: 0 0 15px rgba(37, 135, 216, 0.5);
    transform: scale(103%);
    cursor: pointer;
}

.randomize:active { /*button*/
    transform: scale(97%);
}

#main {
    margin-left: 10rem;
    margin-top: 2rem;
}

#secondary {
    position: absolute;
    right: 10rem;
    top: 2rem;
}

.lootAll { /*button*/
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: none;
    transition: 150ms;
    background-color: rgb(220, 226, 26);
}

.lootAll:hover { /*button*/
    background-color: rgb(220, 226, 26);
    box-shadow: 0 0 15px rgba(246, 255, 0, 0.5);
    transform: scale(103%);
    cursor: pointer;
}

.lootAll:active { /*button*/
    transform: scale(97%);
}

.clearAll { /*button*/
    position: absolute;
    top: 26rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: none;
    transition: 150ms;
    background-color: #d84949;
}

.clearAll:hover { /*button*/
    background-color: #d84949;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    transform: scale(103%);
    cursor: pointer;
}

.clearAll:active { /*button*/
    transform: scale(97%);
}

.open-secondary { /*button*/
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: none;
    transition: 150ms;
    background-color: #62e96d;
}
.open-secondary:hover { /*button*/
    background-color: #85ee8e;
    box-shadow: 0 0 15px rgba(37, 216, 96, 0.5);
    transform: scale(103%);
    cursor: pointer;
}
.open-secondary:active { /*button*/
    transform: scale(97%);
}

#ivarSign{
    color: darkred;
    align-self: center;
    text-decoration: double;
    text-align: center;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    font-weight: bold;
    font-family: autorative;
    font-size: larger;
}

button {
    font-weight: bold;
}

#andreSign{
    /*
    "Comic Sans MS", "Comic Sans", cursive;
    */
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    color: rgb(127, 255, 53);
    text-align: center;
    /* box-shadow: 0 0 20px greenyellow;*/
    margin-top: 2px;
    margin-bottom: 2px;
    
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-delay: 150ms;
    animation-duration: 1s;
}

#andreSign::first-letter{
    color: greenyellow;
}

#binerSign {
    animation-delay: 300ms;
    color: yellow;
    align-self: center;
    text-decoration: double;
    text-align: center;
    text-shadow: 10px, 20px, rgb(255, 247, 5);
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

@keyframes bounce {
    0% { transform: scale(100%); }
    50% { transform: scale(110%); }
    100% { transform: scale(100%); }
}

#torje-sign {
    animation-delay: 450ms;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    font-weight: bold;
    text-align: center;
    color: #37afff;
}

#pålsign {
    animation-delay: 600ms;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    font-weight: bold;
    text-align: center;
    color: #c716be;
}

#studentSignaturer {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
}